h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

nav li{
    border: 1px solid #000000;
    width: 200px;
     margin: 10px;
     padding: 0px;
     background-color: rgb(0, 68, 255);
     text-align: center;
     display: inline-block;
    }

    nav li a:hover{
        background-color: #00ccff;
      }

      nav li a {
        color: #000000;
        display: block;
        padding:10px;
        text-decoration: none;
      }

    h2 {
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background-image: url("a5bg.png");
      }
      nav p {
        border: 1px solid #000000;
        width: 100spx;
         margin: 1px;
         padding: 0px;
         background-color: rgb(255, 255, 255);
         text-align: left;
         display: inline-block;
         text-decoration: none;
        }

      h1  {
            border: 1px solid #000000;
            width: 100spx;
             margin: 1px;
             padding: 10px;
             background-color: rgb(255, 255, 255);
             text-align: left;
             display: inline-block;
            }

            h2  {
                border: 1px solid hsl(0, 0%, 0%);
                width: 200spx;
                 margin: 1px;
                 padding: 10px;
                 background-color: rgb(255, 255, 255);
                 text-align: left;
                 display: inline-block;
                }
footer {
    border: 1px solid #000000;
    width: 200spx;
     margin: 1px;
     padding: 10px;
     background-color: rgb(4, 25, 144);
     text-align: center;
     display: center;
}

footer{
    color: white;
}

footer{

font-family: Arial, Helvetica, sans-serif;
font-style: italic;
}

