h1 {
    color: rgb(255, 153, 0);
}

p{
    color: aqua;
}
.makegreen{
    color: green
}

#makeblue{
    color: blue;
}

/* this is a test of coments.*/

.makered{
    color: red;
}
#divexample {
    background-color: blue;
}

.spanstyle {
    color: gold;
}

h3 {
    color: rgb(236, 124, 12);
}

.customtext {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;

}

Div{
    text-align: center;

}

.boxmodel{
    border: 2px solid rgb(246, 255, 0);
}